<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head' , {title : "BuyMeaBoba"}) %>
</head>
<body class="background on-surface-text">
    <!-- header -->
    <header class="top-bar">
        <div class="container">
            <a href="" class="logo">
                <img src="/images/bobaaa.png" width="120"  alt="Buy Me a Boba logo">
            </a>
        </div>
    </header>

    <main class="main">
        <article>
            <!-- hero -->
             <section class="hero">
                <div class="container">
                    <figure class="hero-banner">
                        <img width="944" height="280" class="img-cover" src="/images/banner.png" alt="Buy Me a Boba banner">
                    </figure>

                    <div class="hero-card">
                        <figure class="card-banner">
                            <img src="/images/profile-photo.jpg" width="120" height="120" alt="" class="img-cover">
                        </figure>

                        <div class="card-content">
                            <h2 class="title-large">
                                Ashmit Dwivedi
                            </h2>
                            <p class="subtitle body-medium on-surface-variant-text">
                                Web Developer
                            </p>
                            <p class="card-text body-medium on-surface-variant-text">
                                Become proficient web developer through a hands-on learning experience.
                            </p>
                        </div>

                    </div>
                </div>
             </section>

             
             <div class="container lg-col-2">

                <!-- contribute -->
                <section class="card elevated contribute">
                    <h2 class="title-medium">
                        Show your love to ashmit
                    </h2>

                    <form class="contribute-form" data-contribute-form>
                        <div class="counter-wrapper">
                            <div class="body-medium on-surface-variant-text counter-label">
                                <span class="material-symbols-rounded primary-text icon-small">
                                    favorite
                                </span>
                                $1 each
                            </div>
                            <div class="counter">
                                <button type="button" class="icon-btn filled" data-decrement-btn>
                                    <span class="material-symbols-rounded ">
                                        remove
                                    </span>

                                    <div class="state-layer"></div>
                                </button>
                                <div class="text-field-wrapper counter-field">
                                    <input type="number" value="1" min="1" max="999" required data-counter-field data-form-field name="amount" class="text-field outlined body-large">
                                </div>

                                <button type="button" class="icon-btn filled" data-increment-btn>
                                    <span class="material-symbols-rounded ">                                        add </span>
                                    <div class="state-layer"></div>
                                </button>

                            </div>
                        </div>

                        <div class="text-field-wrapper">
                            <label for="name" class="text-field-label body-large">
                                Name

                            </label>

                            <input type="text" name="name" id="name"
                            placeholder="Name or @yourgithub(optional)" required data-form-field   class="text-field outlined body-large">

                           
                        </div>
                        <div class="text-field-wrapper">
                            <label for="email" class="text-field-label body-large">
                                Email

                            </label>

                            <input type="email" name="email" id="email"
                            placeholder="Your Email or @yourgithub(optional)" required data-form-field   class="text-field outlined body-large">

                           
                        </div>
                        <div class="text-field-wrapper">
                            <label for="message" class="text-field-label body-large">
                                Message

                            </label>

                            <textarea name="message" id="message"
                            placeholder="Your Message(optional)"  data-form-field  class="text-field outlined body-large"></textarea>

                           
                        </div>

                        <button type="submit" class="button filled label-large" data-submit-btn>
                            Contribute $<span data-total>1</span>
                            <div class="state-layer"></div>

                        </button>
                    </form>
                </section>

                
                 <div>
                    <!-- about -->
                    <section class="card outlined about">
                        <h2 class="title-medium">About</h2>

                        <p class="card-text on-surface-variant-text body-medium">
                            Hey there, I am Ashmit Dwivedi. I am a Web Developer and a DevOps Enthusiast. If you have learned anything from my work or just want to support me, you can contribute.
                            Thank you so much.
                        </p>

                        <p class="on-surface-variant-text body-medium wrapper">
                            <span class="material-symbols-rounded icon-small">alternate_email</span>

                            <a href="mailto:ashmit.dev.io@gmail.com">ashmit.dev.io@gmail.com</a>
                        </p>

                        <ul class="social-list">
                            <li>
                                <a href="" target="_blank" class="social-link">
                                    <img src="/images/x.svg" width="24" height="24" alt="x">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="social-link">
                                    <img src="/images/instagram.svg" width="24" height="24" alt="instagram">
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank" class="social-link">
                                    <img src="/images/discord.svg" width="24" height="24" alt="">
                                </a>
                            </li>
                            
                        </ul>


                    </section>
                    <!-- history -->
                    <section class="card outlined history">
                        <h2 class="title-medium">Recent Supporters</h2>

                        <ul class="history-list">
                            <li class="history-card">
                                <div class="card-header">
                                    <div class="card-avatar label-large">
                                    PP
                                    </div>
                                    <h3 class="title-small card-title">
                                        Peela Papita contributed with <span class="primary-text">
                                            $10
                                        </span>
                                    </h3>
                                </div>
                                
                                <p class="card-body body-large on-surface-variant-text">
                                    1 day ago
                                </p>
                                    
                            </li>
                        </ul>
                    </section>


                 </div>

             </div>

        </article>
    </main>

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <p class="body-medium on-surface-variant-text">
                &copy; 2024 Buy Me A Boba
            </p>
        </div>
    </footer>

</body>
</html>